html {
    font-family: sans-serif;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%
}

body, html {
    height: 100%;
    width: 100%
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0
}

a {
    text-decoration: none
}

p {
    margin: 0 0 20px 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.text-hide {
    font: 0/0 a;
    display: block;
    color: transparent;
    border: 0;
    background-color: transparent;
    text-shadow: none
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: top
}

.embed-responsive {
    position: relative;
    display: block;
    overflow: hidden;
    height: 0;
    padding: 0
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%
}

.embed-responsive-4by3 {
    padding-bottom: 75%
}

body {
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    color: #4c4c4c;
    background: #fff;
    overflow-x: hidden
}

textarea {
    height: auto;
    min-height: 140px;
    resize: vertical
}

.form-group {
    margin-bottom: 30px;
    display: block;
    position: relative
}

.form-control {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 18px;
    line-height: 1.8rem;
    margin-top: 0;
    margin-top: 0;
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: 20px;
    height: 62px;
    min-height: 63px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    background: #fff;
    border: none;
    margin-bottom: 3px
}

.form-control--green {
    -webkit-box-shadow: 0 3px 0 #12998e;
    box-shadow: 0 3px 0 #12998e;
    border: 1px solid #12998e
}

.form-control--min-border {
    border-radius: 5px
}

textarea.form-control {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    min-height: 140px
}

.btn {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 16px;
    line-height: 1.6rem;
    margin-top: 0;
    margin-top: 0;
    font-weight: 700;
    font-family: Lato, arial, sans-serif;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ffc600;
    box-shadow: 0 3px 0 #ffc600;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 210px;
    height: 46px;
    min-height: 47px;
    margin-bottom: 3px;
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    border: none;
    background: #ffde00
}

.btn:hover {
    -webkit-box-shadow: 0 3px 0 #000;
    box-shadow: 0 3px 0 #000;
    color: #fff;
    background: #4c4c4c
}

.btn--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.btn--big {
    font-weight: 900;
    font-family: Lato, arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 18px;
    line-height: 1.8rem;
    margin-top: 0;
    margin-top: 0;
    height: 63px
}

.btn--ultra-big {
    font-weight: 900;
    font-family: Lato, arial, sans-serif;
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 22px;
    line-height: 2.2rem;
    margin-top: 0;
    margin-top: 0;
    height: 65px;
    padding-left: 45px;
    padding-right: 45px
}

@media (min-width: 768px) {
    .btn--ultra-big {
        min-width: 500px
    }
}

@media (min-width: 992px) {
    .btn--ultra-big {
        min-width: 685px;
        font-size: 26px;
        font-size: 2.6rem;
        line-height: 26px;
        line-height: 2.6rem;
        margin-top: 0;
        margin-top: 0;
        height: 82px
    }
}

.btn--shadow {
    -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 0 rgba(0, 0, 0, .1)
}

.btn--shadow:hover {
    -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 0 rgba(0, 0, 0, .1)
}

.heading {
    font-size: 30px;
    font-size: 3rem;
    line-height: 30px;
    line-height: 3rem;
    margin-top: 0;
    margin-top: 0;
    font-weight: 900;
    font-family: Lato, arial, sans-serif;
    position: relative;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #000
}

@media (min-width: 768px) {
    .heading {
        font-size: 38px;
        font-size: 3.8rem;
        line-height: 38px;
        line-height: 3.8rem;
        margin-top: 0;
        margin-top: 0
    }
}

.heading:before {
    position: relative;
    display: block;
    width: 70px;
    height: 3px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    content: "";
    background: #ffde00
}

.heading--left {
    text-align: left
}

.heading--left:before {
    margin-left: 0
}

.subheading {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
    margin-top: -5px;
    margin-top: -.5rem;
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .subheading {
        font-size: 20px;
        font-size: 2rem;
        line-height: 30px;
        line-height: 3rem;
        margin-top: -5px;
        margin-top: -.5rem;
        margin-bottom: 30px
    }
}

@media (min-width: 992px) {
    .subheading {
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 36px;
        line-height: 3.6rem;
        margin-top: -6px;
        margin-top: -.6rem
    }
}

.subheading .small, .subheading small {
    font-size: 16px;
    font-size: 1.6rem
}

.container {
    display: block;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px
}

.header {
    position: relative;
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#12998e), to(#38ef7d));
    background: linear-gradient(#12998e, #38ef7d)
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100px;
    padding: 20px 0
}

@media (min-width: 768px) {
    .header .container {
        height: 165px;
        min-height: 170px
    }
}

.footer {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 20px
}

.footer--fixed {
    padding-bottom: 0;
    padding-top: 0;
    height: 35px
}

.footer-logo-onelife {
    text-align: center;
    display: block;
    position: relative;
    max-width: 75px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .footer-logo-onelife {
        max-width: none;
        margin-bottom: 35px
    }
}

.footer-logo-onelife img {
    display: inline-block
}

.footer-dev {
    font-size: 14px;
    font-size: 1.4rem;
    text-align: center;
    display: block
}

.footer-dev span {
    font-weight: 700;
    font-family: Lato, arial, sans-serif;
    color: #12998e
}

.page-dft {
    padding: 40px 0
}

.page-login {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#12998e), to(#38ef7d));
    background: linear-gradient(#12998e, #38ef7d)
}

.page-login__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: calc(100vh - 35px)
}

@media (min-width: 768px) {
    .page-login__container {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 20px 0
    }
}

.page-login-box {
    position: relative;
    display: block;
    width: 100%;
    max-width: 450px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto
}

.page-login-box .form-group {
    margin-bottom: 20px
}

.page-login-box__title {
    font-weight: 400;
    font-family: Lato, arial, sans-serif;
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2)
}

.page-login-box__link {
    font-size: 18px;
    font-size: 1.8rem
}

.page-login-box__link a {
    text-decoration: underline;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2)
}

.page-login-box__link a:hover {
    color: #ffde00
}

.page-login-logo-onemedia {
    max-width: 75px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .page-login-logo-onemedia {
        max-width: none
    }
}

.label-form {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 24px;
    line-height: 2.4rem;
    margin-top: 0;
    margin-top: 0;
    font-weight: 700;
    font-family: Lato, arial, sans-serif;
    position: relative;
    display: block;
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .label-form {
        font-size: 30px;
        font-size: 3rem;
        line-height: 30px;
        line-height: 3rem;
        margin-top: 0;
        margin-top: 0;
        margin-bottom: 30px
    }
}

.page-dft-create-form {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 30px;
    line-height: 3rem;
    margin-top: -6px;
    margin-top: -.6rem;
    max-width: 1050px;
    margin-top: 40px
}

@media (min-width: 768px) {
    .page-dft-create-form {
        margin-top: 50px
    }
}

.page-dft-create-form .label-form {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 24px;
    line-height: 2.4rem;
    margin-top: 0;
    margin-top: 0;
    margin-bottom: 15px;
    color: #12998e
}

@media (min-width: 768px) {
    .page-dft-create-form .label-form {
        line-height: 30px;
        line-height: 3rem;
        margin-top: 0;
        margin-top: 0;
        font-size: 30px;
        font-size: 3rem
    }
}

.box-green-price {
    border-radius: 5px;
    background: #12998e;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .box-green-price {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.box-green-price__value {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-weight: 900;
    font-family: Lato, arial, sans-serif;
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 40px;
    line-height: 4rem;
    margin-top: -3px;
    margin-top: -.3rem
}

@media (min-width: 768px) {
    .box-green-price__value {
        font-size: 40px;
        font-size: 4rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        line-height: 44px;
        line-height: 4.4rem;
        margin-top: -2px;
        margin-top: -.2rem
    }
}

@media (min-width: 992px) {
    .box-green-price__value {
        font-size: 48px;
        font-size: 4.8rem;
        line-height: 50px;
        line-height: 5rem;
        margin-top: -1px;
        margin-top: -.1rem
    }
}

.box-green-price__infos {
    font-size: 18px;
    font-size: 1.8rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    color: #ffde00
}

@media (min-width: 768px) {
    .box-green-price__infos {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        margin-left: 30px
    }
}

.obs {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 26px;
    line-height: 2.6rem;
    margin-top: -6px;
    margin-top: -.6rem;
    color: #000;
    margin-bottom: 30px
}

@media (min-width: 768px) {
    .obs {
        margin-bottom: 40px
    }
}